@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  text-decoration: none;
  font-family: "Montserrat";
}

body {
  background-color: #1b1b1b;
  color: white;
  background-size: 100%;
  background-image: url(../images/background.png);
}

button{
  text-transform: uppercase;
  border: 0;
  font-weight: 700;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 15px;
  padding: 10px 20px;
}
button:hover{
  transform: translateY(-2px);
  transition: linear 0.3s;
}



hr {
  background-color: #F5A623;
  opacity: 1;
  height: 2px !important;
  width: 6rem; 
}

h2{
text-transform: uppercase;
}